.panels{
    display: flex;
    color: rgb(255,255,255);
    min-height: 100vh;
    font-weight: 200;
}
.panel{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    transition: .5s;
}
.panel-text{
    text-align: center;
    transition: .4s;
    flex: 1 1 100%;
    padding: 50px 0;
}
.panel-text--top{
    transform: translateY(-100%);
}
.panel-text--bottom{
    transform: translateY(100%);
}
.panel.is-active > .panel-text{
    transform: translateY(0);
}
.panel.is-open {
    flex:5;
}


.panel1{background-color:rgb(255, 227, 219);}
.panel2{background-color:rgb(138, 226, 152);}
.panel3{background-color:rgb(252, 255, 72);}
.panel4{background-color:rgb(118, 178, 255);}
.panel5{background-color:rgb(255, 110, 190);}