.search{
    background-color: rgb(255, 70, 70);
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}
.search-input{
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 3px solid white;
    height: 30px;
    width: 30vw;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    flex: 3;
    color: white;
}
.result{
    flex: 7;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.result-tab{
    padding: 10px;
}